.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

.env
.env.**
.classpath
.project
**.class
org.eclipse.**
org.springframework.ide.eclipse.**