.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### Environment & Secrets ###
.env
.env.*
**/application-secret*.properties

.classpath
.project
**.class
org.eclipse.**
org.springframework.ide.eclipse.**
